---
---

<section class="mb-8">
    <div class="mb-6">
      <h1 class="
              font-bold
              text-3xl md:text-4xl
              m-0 pt-1 mb-[0.375em] 
              after:mt-6 after:content-[''] after:block after:h-[1px] after:w-[100%] after:border-b-[1px] after:border-current  
          ">About Me</h1>
  
      <p class="mb-8">
        I'm Simon Wu, a 17-year-old student at the University of Waterloo.
        My major is Computer Science: I'm considering adding a joint major in combinatorics and optimization.
        In the past, I've attended <a href="https://www.sparc-camp.com/">SPARC</a> and represented Team Canada at the <a href="https://www.ioaastrophysics.org/">IOAA</a> twice.
      </p>

      <p class="mb-8">
        I enjoy reading, studying math and exploring music.
        I've played the piano since I was very young: more recently, I've picked up the bass guitar.
        Unfortunately, I haven't seen that many movies or TV shows, but I'd like to watch more of both.
        Feel free to send me any recommendations you have, especially sci-fi and anime.
      </p>
  
    </div>
  </section>
  