---
---

<section class="mb-8">
  <div class="mb-6">
    <h1 class="
            font-bold
            text-3xl md:text-4xl
            m-0 pt-1 mb-[0.375em] 
            after:mt-6 after:content-[''] after:block after:h-[1px] after:w-[100%] after:border-b-[1px] after:border-current  
        ">Hiring Me</h1>

    <p class="mb-8">
      Currently, I'm seeking internship opportunities starting January 2024 and beyond.
      I'm a Canadian citizen currently based out of the Greater Toronto Area and Kitchener-Waterloo,
      and I'm open to remote as well as in-person positions (with or without relocation).

    <p class="mb-8">
      To see an outline of my past work experience, check out my 
      <a href={"https://www.linkedin.com/in/simon-wu-53636a243"} target="_blank"
        >LinkedIn</a
      > page and my
      <a href={"https://simonwu.dev/docs/resume.pdf"} target="_blank"
        >resume</a
      >.
      Links to my personal projects are listed on my
      <a href="/projects"
        >projects</a
      > page.

    <p class="mb-8">
      For hiring-related inquiries, please contact me by email at <strong>simon.wu1(at)uwaterloo.ca</strong>.


  </div>
</section>
