---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Less Travelled
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/shangmingwu"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Simon on GitHub"></i>
        <span>GitHub</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/realsimonwu"
        aria-label="Simon on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Simon on Twitter"></i>
        <span>Twitter</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://discord.com/users/498506968021991454"
        aria-label="Simon on Discord"
      >
        <i class="fa-brands fa-discord" aria-hidden="true" title="Simon on Discord"></i>
        <span>Discord</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.linkedin.com/in/simon-wu-53636a243"
        aria-label="Simon on LinkedIn"
      >
        <i class="fa-brands fa-linkedin" aria-hidden="true" title="Simon on LinkedIn"></i>
        <span>LinkedIn</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
      Hello! I'm Simon Wu, a 17-year-old computer science student at the University of Waterloo.
      This summer, I'm interning with
      <a href={"https://www.huawei.com/ca/"} target="_blank"
        >Huawei Canada</a
      > in the Distributed Data Storage and Management Lab, building a next-generation cloud data platform.
      <!-- I like to read
      <a href={"https://www.libib.com/u/simonwu/"} target="_blank"
        >interesting books</a
      >: --> I also write sporadically on my
      <a href={"https://simonwu.substack.com"} target="_blank"
        >Substack</a
      >.
    
    <p class="mb-8">
      If you'd like to hire me or know someone who does, you can check out my
      <a href={"https://www.linkedin.com/in/simon-wu-53636a243"} target="_blank"
        >LinkedIn</a
      > page and my
      <a href={"https://simonwu.dev/docs/resume.pdf"} target="_blank"
        >resume</a
      >.
      I'm open to opportunities in Winter 2024 and beyond.
    
    <p class="mb-8">
      Right now I'm spending most of my time in Mississauga and Toronto, and I'll be studying in Waterloo in the fall.
      Until I get a calendar set up, feel free to message me on Discord or Twitter if you'd like to talk :)
    
    <p class="mb-8">
      In the past, I've attended
      <a href={"https://www.sparc-camp.com/"} target="_blank"
        >SPARC</a
      >, and represented Team Canada in the
      <a href={"https://www.ioaastrophysics.org/"} target="_blank"
        >IOAA</a
      >.
  </div>
</section>
