---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Less Travelled
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    > Find me on: 
      <a
      class="unset ml-4 hover:text-text-link"
      href="mailto:simon.wu1@uwaterloo.ca"
      >
        <i class="fa fa-envelope" aria-hidden="true" title="Simon's e-mail'"></i>
        <!-- <span>E-mail</span> -->
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/shangmingwu"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Simon on GitHub"></i>
        <!-- <span>GitHub</span> -->
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/realsimonwu"
        aria-label="Simon on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Simon on Twitter"></i>
        <!-- <span>Twitter</span> -->
      </a>
      <!--
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://discord.com/users/498506968021991454"
        aria-label="Simon on Discord"
      >
        <i class="fa-brands fa-discord" aria-hidden="true" title="Simon on Discord"></i>
        <span>Discord</span>
      </a>
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://www.linkedin.com/in/simon-wu-53636a243"
        aria-label="Simon on LinkedIn"
      >
        <i class="fa-brands fa-linkedin" aria-hidden="true" title="Simon on LinkedIn"></i>
        <span>LinkedIn</span>
      </a>
      -->
    </div>
  </div>
  <div>
    <p class="mb-8">
      Hello!
      I'm Simon Wu, and this is my site.
      Find out more <a href="/about">about</a> me, or see what I'm up to <a href="/now">right now</a>.
      If you'd like to hire me or know someone who does, you can check out my <a href="/hireme">hiring page</a>.
    </p>
    
    <p class="mb-8">
      Elsewhere on the web, you can find my writing on <a href="https://simonwu.substack.com">Substack</a> and see what I've bookmarked on <a href="https://curius.app/simon-wu">Curius</a>.
    </p>

    <p class="mb-8">
      Right now I'm spending most of my time in Mississauga and Toronto, and I'll be studying in Waterloo in the fall.
      Until I get a calendar set up, feel free to message me on <a href="https://discord.com/users/498506968021991454">Discord</a> (my username is @matrixmultiplier) or <a href="https://twitter.com/realsimonwu">Twitter</a> if you'd like to talk :)
    </p>

  </div>
</section>
