---
---

<section class="mb-8">
    <div class="mb-6">
      <h1 class="
              font-bold
              text-3xl md:text-4xl
              m-0 pt-1 mb-[0.375em] 
              after:mt-6 after:content-[''] after:block after:h-[1px] after:w-[100%] after:border-b-[1px] after:border-current  
          ">Now</h1>
        
        <h2 class="font-bold text-3xl md:text-3xl m-0 pt-1 mb-[0.375em]">Employment</h2>
  
      <p class="mb-8">
        Currently, I'm living at home in Mississauga, having finished my first two terms at the University of Waterloo.
        I'm also working full-time as an intern in the Distributed Data Storage and Management Lab in Huawei's Toronto Research Centre.
        We're building a next-generation distributed cloud database platform.
        It's going pretty well: the work is challenging, and I feel like I'm pushing my boundaries every single day.
      </p>

      <h2 class="font-bold text-3xl md:text-3xl m-0 pt-1 mb-[0.375em]">Focusing on health</h2>

      <p class="mb-8">
        I gained a lot of weight in my first year of undergrad, and I'm focused on trying not to gain any more, and losing it.
        I'm also exercising frequently, and I feel a lot better now that I'm in the habit. Normally, I swim or play badminton, and also go on long walks.
      </p>

      <p class="mb-8">
        (See Derek Sivers on <a href="https://nownownow.com/about">having a now page</a>.)
  
    </div>
  </section>
  